@import '../../assets/scss/constants/colors';
@import '../../assets/scss/constants/vars';

.header{
  display: flex;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;
  height: 48px;
  margin-bottom: 8px;

  &__title{
    font-size: $font-size-primary;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: 500;

    &-main{
      line-height: 28px;
      color: $color-text-other;
    }

    &-repo{
      line-height: 30px;
      color: $color-text-primary;
    }
  }
}

.button{
  &__settings{
    line-height: 28px;

    &_long{
      width: 87px;
    }

    &_little{
      width: $height-other-buttons;
    }

    &::before{
      background: url('../../assets/img/settings.svg');
    }
  }
}
