@import '../../assets/scss/constants/colors';
@import '../../assets/scss/constants/vars';

.header{
  display: flex;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;

  &__title{
    font-size: $font-size-primary;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: 500;

    &-main{
      line-height: 28px;
      color: $color-text-other;
    }

    &-repo{
      line-height: 30px;
      color: $color-text-primary;
    }
  }
}

.button{
  &__light{
    background-color: $button-enabled-light;
    height: $height-other-buttons;
    display: block;
    text-align: center;
    font-size: $font-size-secondary;

    &::before{
      content: '';
      background-size: 12px 12px;
      background-repeat: no-repeat;
      display: block;
      width: 12px;
      height: 12px;
      margin: 8px 5px 8px 8px;
      position: absolute;
    }
  }

  &__settings{
    line-height: 28px;

    &_long{
      width: 87px;
    }

    &_little{
      width: $height-other-buttons;
    }

    &::before{
      background: url('../../assets/img/settings.svg');
    }
  }
}
