@import '../../../node_modules/reset-css/sass/reset';
@import '../scss/base/buttons';

html, body, #root{
  height: 100%;
}

#main-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header-content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

a{
  text-decoration: none;
}
