// single elements
$red-star: #FF3333;
$color-footer: #F0F2F3;

// text
$color-text-primary: #000000;
$color-text-secondary: rgba(0,0,0,0.2);
$color-text-other: #7F8285;
$color-text-time: #434445;
$color-text-disabled: #7F7F7F;
$color-text-other-hover: #E00000;
$color-signs: rgba(0, 0, 0, 0.5);
$color-done: #00B341;
$color-fail: #FF3333;
$color-waiting: #FF9A00;
$color-hash: rgba(0, 0, 0, 0.65);

// buttons
$button-enabled-bright: #FFCC00;
$button-enabled-bright-hover: #F2C200;
$button-enabled-bright-border-focus: #B38F00;
$button-enabled-light: #E6E6E6;
$button-enabled-light-hover: #DBDBDB;

$enabled-light-border-focus: #B3B3B3;

$disabled-back: #F2F2F2;

// border & other elem
$border-input-no-focus: #D9D9D9;

$color-shadow: rgba(67, 68, 69, 0.3);
$color-separate: #F0F2F3;
