// font size
$font-size-primary: 24px;
$font-size-secondary: 13px;
$font-size-number: 18px;
$font-size-number-mobile: 16px;
$font-size-build: 15px;

// ele size
$border-radius-elems: 4px;
$border-radius-cards: 6px;

// height, width
$width-input: 474px;
$width-input-little: 52px;
$width-main-button: 69px;
$width-settings: 123px;

$height-main-elem: 36px;
$height-other-buttons: 28px;

$width-card: 824px;
$height-card: 68px;

$height-footer: 32px;
