@import '../../assets/scss/constants/colors';
@import '../../assets/scss/constants/vars';

.footer{
  display: flex;
  min-height: $height-footer;
  background-color: $color-footer;
  justify-content: space-around;

  &__support, &__learning{
    margin-right: 20px;
  }

  &__support, &__learning, &__lang, &__name{
    color: $color-text-other;
    font-size: $font-size-secondary;
  }

  &__support:hover, &__learning:hover, &__lang:hover {
    color: $color-text-other-hover;
  }
}

