@import '../../../assets/scss/constants/vars';

.build-list{
  padding: 0 100px;
}

.button__show{
  width: 92px;
}

@media (max-width: 670px) {
  .build-list{
    padding: 0 16px;
  }
}

@media (max-width: 500px) {
  .button__show{
    height: $height-main-elem;
    width: 100%;
  }
}
